/* body  */

body {
    background-image: url("../screenshots/background-image3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    min-height: 100vh;
    padding-bottom: 25px;
    text-align: center;
}

/* Rules */

#rules-container {
  text-align: left;
  border: 3px solid goldenrod;
  border-radius: 10px;
  margin: 0 auto;
  padding: 16px 32px;
  width: 550px;
}

/* Header */

header {
    font-family: 'Boogaloo', cursive;
    height: 100px;
    max-width: 1268px;
    margin: 0 auto;
  }

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 350%;
    margin: 50px auto; 
  }

h3 {
    text-align: center;
  }

/* Game buttons */

button {
    display: inline-block;
    margin: 10px;
    width: 250px;
    height: 40px;
    border-radius: 0;
    background-color: goldenrod;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-size: 20px;
  }

 button:hover {
    background-color: #0a0500;
    border: 2px solid goldenrod;
    color: #ffffff;
  }

/* Start game button */

#start-game-button {
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: goldenrod;
    border: 2px solid #ffffff;
  }

/* quiz image container */

#quiz-container > img {
    margin: 5px auto;
    margin-top: 30px;
    display: block;
    width: 300px;
    height: 150px;
    object-fit: contain;
    position: relative;
    border: 10px solid goldenrod;
    border-radius: 5px;
    background-color: #ffffff;
  }

/* question container */

#question-container {
    margin: 5px auto;
    display: block;
    width: 300px;
    position: relative;
}

div {
  color: #ffffff;
  margin: auto;
  margin-top: 30px;
}

#choices-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: center;
    align-items: center;
  }

#correct-answers {
    color:#ffffff;
    position: absolute;
}

/* Media queries */
 /* For mobiles */

@media only screen and (max-width: 500px) {
 
  #rules-container {
    width: 350px;
    float: left;
  }

  #start-game-button {
    position: absolute;
  }



}










  