body {
    background-image: url("../images/background-image3.jpg");
    background-position: center-center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
}

#rules-container {
  text-align: left;
  border: 3px solid goldenrod;
  margin: 0 auto;
  width: 550px;
}

header {
    font-family: 'Boogaloo', cursive;
    height: 100px;
  }

h1 {
    color: #ffffff;
    text-align: center;
    margin: 50px auto; 
  }

h3 {
    text-align: center;
  }

button {
    display: inline-block;
    margin: 10px;
    width: 250px;
    height: 40px;
    border-radius: 0;
    background-color: goldenrod;
    border: 2px solid #ffffff;
    font-size: 20px;
  }

#start-game-button {
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: goldenrod;
  }

#quiz-container > img {
    margin: 5px auto;
    margin-top: 30px;
    display: block;
    width: 300px;
    height: 150px;
    object-fit: contain;
    position: relative;
    border: 10px solid goldenrod;
    border-radius: 5px;
    background-color: #ffffff;
  }

#question-container {
    margin: 5px auto;
    display: block;
    width: 300px;
    position: relative;
}

div {
  color: #ffffff;
  margin: auto;
  margin-top: 30px;
}

#choices-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: center;
    align-items: center;
  }

#correct-answers {
    color:#ffffff;
    position: absolute;
}

/* Media queries */

/* For mobile phones: */




@media only screen and (min-width: 600px) {
  /* For tablets: */


}

@media only screen and (min-width: 768px) {
  /* For desktop: */


}






  